<!DOCTYPE html>
<html>
	<head>
		<title>LBE - Manage [Admin]</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body onLoad="showMessages('{{tab}}');">
	  {% include "menu.html" %}
	  {% include "manage/menu.html" %}
	  <div class="content">

	  </div>
		<script type="text/javascript" src="/static/js/jquery.js"></script>
	    <script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
	    <script type="text/javascript" src="/static/js/bootstrap-alert.js"></script>
	    
	    <script type="text/javascript" src="/static/js/manage/message/message.js"></script>
	</body>
</html>
