<form action="#" method="post" onClick="return false;">
<table id="modifier"{% if specialACL == 'True' %} class="table table-striped table-bordered table-condensed" {% endif %}>
	<tbody>
		<tr><td>Modifier:</td><td><button class="close" data-dismiss="alert" onClick="document.getElementById('{% if specialACL == 'True' %}Special{% endif %}{{id}}').style.display = 'none';">×</button></td></tr>
		<tr>
			<td><select id="editLang">{% for lang in languages %}
			<option {{lang.name}}
				{% if acl.language_id = lang.id %}
					selected="selected"
				{% endif %}>{{lang.name}}
			{% endfor %} </option></td>
			<td><div class="input-append"><a href="#" onClick="showInfoACL()" ><img src="/static/img/question.gif" /></a><span id="stateQueryACL{% if specialACL == 'True' %}Special{% endif %}{{acl.id}}" class="control-group"><input type="textbox" id="textModify{% if specialACL == 'True' %}Special{% endif %}" class="appendedPrependedInput" name="condition" value="{{acl.condition}}"/><span class="btn" onClick="checkACL($('#textModify{% if specialACL == 'True' %}Special{% endif %}').val(),{{acl.id}});"><i class="icon-refresh"></i></span><span class="help-inline" id="resultQueryACL{% if specialACL == 'True' %}Special{% endif %}{{acl.id}}"></span></span></div></td>
		</tr>
		<tr><td colspan="2"><center><input type="submit" class="btn" value="Modifier" onClick="modifiedACL({{acl.id}},{% if specialACL == 'True' %}$('#AttrTitle').html(){% else %}''{% endif %})"/></center></td></tr>
	</tbody>
</table>
</form>
