{% load url from future %}
{% if aclForm %}
    {# Include the hidden fields #}
    {% for hidden in aclForm.hidden_fields %}
        {{ hidden }}
    {% endfor %}
    {# Include the visible fields #}
    <table class='table table-condensed'>
        <tr>
            <th> Object</th>
            <td> {{ aclForm.object }}
                {% for error in aclForm.object.errors %}
                    <div><span class='label label-important'>{{ error }}</span></div> {% endfor %}
            </td>
        </tr>
        <tr>
            <th> Group</th>
            <td> {{ aclForm.group }}
                {% for error in aclForm.group.errors %}
                    <div><span class='label label-important'>{{ error }}</span></div> {% endfor %}
            </td>
        </tr>
        <tr>
            <th> Type</th>
            <td> {{ aclForm.type }}
                {% for error in aclForm.type.errors %}
                    <div><span class='label label-important'>{{ error }}</span></div> {% endfor %}
            </td>
        </tr>
        <tr>
            <th> Query</th>
            <td> {{ aclForm.condition }}
                <button class="btn" onClick="checkACL();return false;"><i class="icon-refresh"></i></button>
                <div class="error">{% for error in aclForm.condition.errors %}
                    <span class='label label-important'>{{ error }}</span> {% endfor %}</div>
            </td>
        </tr>

        <tr>
            <td colspan=2 style='text-align: center;'><input type='submit' name='Submit' class='btn'></td>
        </tr>
    </table>
    <script type="text/javascript">
        function checkACL() {
            $.ajax({
                type: "GET",
                url: '/ajax/config/acl/check/' + $('#id_condition').val(),
                async: false,
                success: function (data) {
                    if (data != "") {
                        $('.error').html('<span class="label label-important">' + data + '</span>');
                        $('#id_condition').css('border-color', '#ff0000');
                    }
                    else {
                        $('.error').html('');
                        $('#id_condition').css('border-color', '#00ff00');
                    }
                }
            });
        }
    </script>
{% endif %}
