<!DOCTYPE html>
<html>
	<head>
		<title>LBE - Manage [Admin]</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body onLoad="loadConditions($('#typeACL :checked').val(),$('#objectName :checked').val(),'');loadObject($('#objectName :checked').val())">
	   {% include "menu.html" %}
	   {% include "manage/menu.html" %}
	   <div class="content">
		   <div class="res"></div>
		   <form action="#" >
			   Select an Object: <select id="objectName" onChange="loadObject(this.value);loadConditions($('#typeACL :checked').val(),this.value,'');">
			   {% for obj in objects  %}<option value="{{obj.name}}">{{obj.displayName}}</option>{% endfor %}
			   </select>
		   </form>
		{% if not objects %}
			<div class="modifyVirtual"><div class="alert alert-error fade in"><button class="close" data-dismiss="alert">×</button><center>No objects in database. Create at least one.</center></div></div>
		{% else %}
		   <div class="object">
		   </div>
		   ACL:<br>
		   <form action="#" method="post" onSubmit="return false;">
				<select id="typeACL" onChange="loadConditions(this.value,$('#objectName :checked').val(),'');">
					<option>create</option>
					<option>read</option>
					<option>update</option>
					<option>delete</option>
					<option>disable</option>
					<option>activate</option>
					<option>approvale</option>
				</select><br>
				{% for langue in languages %}
				<input type="radio" class="lang" name="lang" value="{{langue.name}}" {% if langue.name == "QACL" %} checked {% endif %}/>{{langue.name}}
				{% endfor %}<br>
				<div class="input-append">Condition:<br><a href="#" onClick="showInfoACL()" ><img src="/static/img/question.gif" /></a><span id="stateQueryACL" class="control-group"><input type="textbox" id="textCreate" class="appendedPrependedInput" name="textCreate" value="{{condition}}"/>
				<span class="btn" onClick="checkACL($('#textCreate').val(),'');"><i class="icon-refresh"></i></span><span class="help-inline" id="resultQueryACL"></span></span></div><br>
				<input type="submit" class="btn btn-primary" value="Créer" onClick="createACL()"/>
		   </form>
		   <span class="conditions"></span>
	   </div>
	   {% endif %}
	    <script type="text/javascript" src="/static/js/jquery.js"></script>
	    <script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
	    <script type="text/javascript" src="/static/js/bootstrap-alert.js"></script>
	    <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
	    
	    <script type="text/javascript" src="/static/js/manage/objects.js"></script>
		<script type="text/javascript" src="/static/js/manage/ACL/conditions.js"></script>
		<script type="text/javascript" src="/static/js/manage/ACL/manage.js"></script>
		<script type="text/javascript" src="/static/js/manage/ACL/check.js"></script>
		<div class="showModifyBox"></div>
		<div class="infoACL"></div>
	</body>
</html>
