<div id="showInfoACL" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">×</button>
		<h3>information ACL</h3>
	</div>
	<div class="modal-body">
		<center><h3>QACL</h3></center>
		<i>QACL</i> means Query ACL. it is like the SQL syntax.<br>
		You can create two type of QACL queries:<br>
		<h4>-The firt one: </h4>
		<div style="margin-left: 1em;">
			<code>select from </code> with different names of &lt;LBEObject&gt;, split by <code>,</code>.<br>
			<b><i>Example:</i></b><br>
			<code>select from RH,IT</code>.<br>
		</div>
		<h4>-The second type:</h4>
		<div style="margin-left: 1em;">
			<code>select from &lt;LBEObject&gt;(&lt;attribute&gt;)</code> with an operator such as <code>=</code>, <code>!=</code>, 
			<code>&lt;</code>, <code>&lt;=</code>, <code>&gt;</code> or <code>&gt;=</code> and <code>values(,values,...)</code>.<br>
			<b><i>Examples:</i></b><br>
			<code>select from Interne(uid)=jdoe,hpoppers</code><br>
			<code>select from Extern(uid)!=jdoe,hpoppers</code><br>
			<code>select from person(employeeNumber)=[1..15]</code> or [15..1]<br>
			<code>select from person(employeeNumber)!=[1..15]</code>or [15..1<br>
			<code>select from person(employeeNumber)!=13,66,42</code><br>
			<code>select from person(employeeNumber)=1,6</code><br>
			<code>select from person(employeeNumber)&gt;=6</code><br>
			<code>select from person(employeeNumber)&lt;6</code><br>
			With objectClass:<br>
			<code>select from person(objectClass)=Person</code><br>
			<code>select from person(objectClass)!=Top,organizationalUnit</code><br>
		</div>
		<div class="alert alert-info">
		<b>Information:</b> the attribute between <code>()</code> must be the <b>same</b> as the LDAP Server, with capital and letter case.
		</div>
	</div>
</div>
