{% if modify %}
    {% if modify = 1 %}
    <div class="alert alert-success fade in">
    <button class="close" data-dismiss="alert">×</button>
	<center>Acl modifiée avec succes.</center>
	{% elif modify = 2 %}
	<div class="alert alert-success fade in">
    <button class="close" data-dismiss="alert">×</button>
	<center>Acl supprimé avec succes.</center>
	{% elif modify = 3 %}
	<div class="alert alert-success fade in">
    <button class="close" data-dismiss="alert">×</button>
	<center>Acl ajouté avec succes.</center>
	{% elif modify = 31 %}
	<div class="alert alert-error fade in">
    <button class="close" data-dismiss="alert">×</button>
	<center>Entrez une condition pour créer une ACL.</center>
	{% elif modify = 32 %}
	<div class="alert alert-error fade in">
    <button class="close" data-dismiss="alert">×</button>
	<center>Erreur de syntax dans l'ACL.</center>
	{% endif %}
</div>
{% endif %}
<table class="table table-condensed">
	<caption><b>Values:</b></caption>
{% if conditions %}
	{% for acl in conditions %}
		<tr>
			<td>{% for lang in languages %}
				{% if acl.language_id = lang.id %}
					{{ lang.name }}
				{% endif %}
			{% endfor %}</td>
			<td>{{acl.condition}}</td>
			<td><a href="#" onClick="modifyACL({{acl.id}},{% if specialACL == 'True' %}$('#AttrTitle').html(){% else %}''{% endif %});"><i class="icon-pencil"></i></a></td>
			<td><a href="#" onClick="askForDeleteACL({{acl.id}},{% if specialACL == 'True' %}$('#AttrTitle').html(){% else %}''{% endif %});"><i class="icon-trash"></i></a></td>
		</tr>
		<tr><td colspan="4"><span id="{% if specialACL == 'True' %}Special{% endif %}{{acl.id}}" class="{% if specialACL == 'True' %}Special{% endif %}{{acl.id}}"></span></td></tr>
	{% endfor %}
{% else %}
		<tr><td><center><i>No values yet.</i></center></td></tr>
{% endif %}
</table>
