{# Include the hidden fields #}
{% for hidden in attributeForm.hidden_fields %}
{{ hidden }}
{% endfor %}
{# Include the visible fields #}

<input type="hidden" name="lbeObject" value="{{ lbeObject.id }}">
<table class='table'>
		<!-- TODO replace this field by an ajax autocompletion -->
	<tr><th>Name</th><td>{{attributeForm.lbeAttribute}} {% for error in attributeForm.lbeAttribute.errors %} <div><span class='label label-important'>{{ error }}</span></div> {% endfor %}</td></tr>
	<tr><th>Default value</th>	<td>{{attributeForm.defaultValue}} {% for error in attributeForm.defaultValue.errors %} <div><span class='label label-important'>{{ error }}</span></div> {% endfor %}</td></tr>
	<tr><th>Flags</th>	<td>Mandatory: {{attributeForm.mandatory}}<br/>
			Multivalued: {{attributeForm.multivalue}}<br/>
			Ciphered: {{attributeForm.secure}}</td></tr>
	<tr><th>Type: </th><td>{{attributeForm.attributeType}}</td></tr>
	<tr><th>Reference</th><td>{{attributeForm.reference}} {% for error in attributeForm.reference.errors %} <div><span class='label label-important'>{{ error }}</span></div> {% endfor %}</td></tr>		
	<td colspan="4" style='text-align: center;'><input type="submit" value="Add" class="btn"/></td>
	</tr>
</table>
