{# Include the hidden fields #}
{% for hidden in scriptForm.hidden_fields %}
{{ hidden }}
{% endfor %}
{# Include the visible fields #}
<table class='table table-condensed'>
	<tr>
		<th>Full name</th>
		<td>{{scriptForm.name}} Format: <i>fileName.ClassName</i>{% for error in scriptForm.name.errors %} <div><span class='label label-important'>{{ error }}</span></div> {% endfor %}</td>
	</tr>
	<tr>
		<th>File name</th>
		<td>{{scriptForm.file}} {% for error in scriptForm.file.errors %} <div><span class='label label-important'>{{ error }}</span></div> {% endfor %}</td>
	</tr>
	<tr>
		<th>File</th>
		<td>{{scriptForm.fileUpload}} {% for error in scriptForm.fileUpload.errors %} <div><span class='label label-important'>{{ error }}</span></div> {% endfor %}</td>
	</tr>
    <tr>
        <td colspan=2 style='text-align: center;'><input type='submit' name='Submit' class='btn'></td>
    </tr>
</table>
