<!DOCTYPE html>
<html>
	<head>
		<title>LBE - Manage [Admin]</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>
	  {% include "menu.html" %}
	  {% include "manage/menu.html" %}
	   <div class="content">
		   {% if message %}
				{% if type == 'error' %}
					<div class="alert alert-error fade in">
					<button class="close" data-dismiss="alert">×</button>
					{{ message|safe }}
					</div>
				{% elif type == 'success' %}
					<div class="alert alert-success fade in">
						<button class="close" data-dismiss="alert">×</button>
						{{ message }}
					</div>
				{% endif %}
			{% endif %}
		   <form method="post" action="">
			   {% include 'manage/object/form.html' %}
				<input type="submit" value="Create" class="btn"/>
			</form>
		</div>
		<div id="showDN"></div>
		<script type="text/javascript" src="/static/js/jquery.js"></script>
	    <script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
	    <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
	    <script type="text/javascript" src="/static/js/bootstrap-alert.js"></script>
	    
	    <script type="text/javascript" src="/static/js/manage/create/object.js"></script>
	    <script type="text/javascript" src="/static/js/manage/DN.js"></script>
	</body>
</html>
