<!DOCTYPE html>
<html>
	<head>
		<title>LBE - Manage [Admin]</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body onLoad="loadObjectAttribute($('#objectName :checked').val());">
	  {% include "menu.html" %}
	  {% include "manage/menu.html" %}
	  {% load url from future %}
	   <div class="content">
		   <div class='message'> </div>
		   <table class='table'>
			   <tr>
				   <th>Name</th><th>Display name</th>
				   </tr>
		   {% for object in objects %}
		   <tr>
		   	<td><a href="{% url 'viewManage.views.modifyObject' obj_id=object.id %}">{{object.name}}</a></td>
			<td>{{object.displayName}}</td>
			</tr>
			{% endfor %}
		
		<script type="text/javascript" src="/static/js/jquery.js"></script>
	    <script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
	    <script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
	    <script type="text/javascript" src="/static/js/bootstrap-alert.js"></script>
	    
		<script type="text/javascript" src="/static/js/manage/create/attribute.js"></script>
		<script type="text/javascript" src="/static/js/manage/modify/attribute.js"></script>
		<script type="text/javascript" src="/static/js/manage/objects.js"></script>
	</body>
</html>
