<!DOCTYPE html>
<html>
	<head>
		<title>LBE</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>
	  {% include "directory/default/menu-top.html" %}
	  {% include "directory/default/menu-left.html" %}
	   <div class="content">
		{# changeit! #}
		{% if typeMessage == 1 %}
			<div class="alert alert-error fade in"><button class="close" data-dismiss="alert">×</button><center>{{message|safe}}</center></div>
		{% elif typeMessage == 0 %}
			<div class="alert alert-success fade in"><button class="close" data-dismiss="alert">×</button><center>{{message}}</center></div>
		{% endif %}
		 <h3>{{objectName}}</h3>
		<table class="table table-striped table-bordered table-condensed">
		{% for V in values %}
			<tr><td>{{V.uid}} {{V.sn}}</td><td><a href="#" onClick="approve('{{objectID}}','{{V.id}}');">Agree</a> <a href="#" onClick="refuse('{{objectID}}','{{V.id}}');">Disagree</a></td></tr>
		{% empty %}
			<div class="alert fade in"><button class="close" data-dismiss="alert">×</button><center>No object values to approval.</center></div>
		{% endfor %}
		</table>
		</div>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-alert.js"></script>
	
	<script type="text/javascript" src="/static/js/directory/object.js"></script>
	<script type="text/javascript" src="/static/js/directory/approvale.js"></script>
	</body>
</html>
