.menu{float:left;}
.content{float:left;}

.login input{height:25px;}

#nav{cursor: pointer;cursor: hand/*For IE */}

.create
{
	position:relative;
	top:0px;
	left:0px;
}

ul.messages {
    margin: 0 0 0 25px;
}

ul.errorlist
{
    list-style: none;
}

.label-important .errorList {
    text-align: right;
}