{# Include the hidden fields #}
{% for hidden in objectForm.hidden_fields %}
{{ hidden }}
{% endfor %}
{# Include the visible fields #}
<table class='table table-condensed'>
{% for field in objectForm.visible_fields %}
    <tr>
        <th> {{ field.label }} </th>
        <td> {% if ajaxAttribute == field.name %}
				<input type="text" id="id_{{ field.name }}" name="{{ field.name }}" value="{{defaultValue}}" onKeyUp='{{ajaxFunction}}'/>
				<div class="show"></div>
			{% else %}
				{{ field }}
			{% endif %}
            {% for error in field.errors %} <div><span class='label label-important'>{{ error }}</span></div> {% endfor %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan=2 style='text-align: center;'><input type='submit' name='Submit' class='btn'></td>
    </tr>
</table>
{% if ajaxAttribute %}
<script type="text/javascript">
function selectFrom(url,attribute)
{
	$.ajax({
	   type: "GET",
	   url: url + attribute + '/' + $('#id_'+attribute).val(),
	   async:false,
	   success: function(data){
		    $('.show').html(data);
		}
	 });
}
</script>
{% endif %}
