{% extends "index.html" %}
{% load url from future %}
{% block content %}
			
			<form action="{% url 'config.views.modifyObject' obj_id=lbeObject.id %}" method='POST'>{% csrf_token %}
				{% include 'config/object/form.html' %}
                <input type='submit' name='Submit' class='btn'>
		   </form>
		   
		   Objects attributes:
		   <table class="table">
			   <tr>
			   	<th>Name</th>
				<th>Default value</th>
				<th>Reference</th><th>Script</th>
			   </tr>
			   {% for instance in attributeInstances %}
			   <tr>
			   		<td> {{ instance.lbeAttribute.name }} </td>
					<td> {{ instance.defaultValue }} </td>
					<td> {{ instance.reference }} </td>
					<td> {{ instance.script }} </td>
 			   </tr>
			   {% endfor %}
		   </table>
		   
		   <div class="addAttribute">
			   <form action="{% url 'config.views.addObjectAttribute' obj_id=lbeObject.id %}" method='post'>
                   {% csrf_token %}
				   <table class="table table-condensed">
							{% include 'config/object/attributes/form.html' %}
				   </table>
			   </form>
		   </div>
{% endblock %}