{% extends "index.html" %}
{% load url from future %}
{% block content %}
	<script type="text/javascript">
      function PopupWindow(strWindowToOpen){
		window.open (strWindowToOpen, 'Attribute', config='height=420, width=550, toolbar=no, menubar=no, scrollbars=no, resizable=no, location=no, directories=no, status=no')
	  }
      </script>
    <div class='row-fluid'>
        <div class='span6'>
            <form action="{% url 'config.views.modifyObject' obj_id=lbeObject.id %}" method='POST'>{% csrf_token %}
                {% include 'config/object/form.html' %}
            </form>
        </div>
        <div class='span6'>
            PUT EXTRA INFO HERE (like number of object, etc.)
        </div>
     </div>
     <div class='row-fluid'>
            Objects attributes:
            <table class="table">
               <tr>
               	<th>Name</th>
            	<th>Default value</th>
            	<th>Type</th>
            	<th>Mandatory</th>
            	<th>Multi Value</th>
            	<th>Ciphered</th>
            	<th>Reference</th><th>Action</th>
               </tr>
               {% for instance in attributeInstances %}
               <tr>
               		<td> {{ instance.lbeAttribute.name }} </td>
            		<td> {{ instance.defaultValue }} </td>
            		<td> {% if instance.attributeType == 0 %} Final {% else %} {% if instance.attributeType == 1 %} Virtual {% else %} Reference {% endif %}{% endif %} </td>
            		<td> {{ instance.mandatory }} </td>
            		<td> {{ instance.multivalue }} </td>
            		<td> {{ instance.secure }} </td>
            		<td> {{ instance.reference.name }} </td>
            		<td> <a href="#" onClick="PopupWindow('{% url 'config.views.modifyAttributeToObject' obj_id=lbeObject.id attr_id=instance.id  %}');return false;">Modify </a></td>
               </tr>
               {% endfor %}
            </table>
		   
		   <center><a href="#" onClick="PopupWindow('{% url 'config.views.addAttributeToObject' obj_id=lbeObject.id  %}');return false;"><button class="btn">Add</button></a></center>
            <div class="addAttribute">
            </div>
      </div>
{% endblock %}
