{% extends 'index.html' %}
{% load url from future %}

{% block content %}
<div class="message"></div>
<table class="table">
	<tr><th></th><th>Values</th><th>To Set</th><th></th></tr>
	{% for attribute in lbeAttribute %}
		<script>var v=0;</script>
		<tr><th>{{ attribute.lbeAttribute.displayName.title }}</th>
		<td>
		{# have attributes values? #}
		{% for key, value in object.attributes.items %}
			{% if key == attribute.lbeAttribute.name %}
				{% for val in value %}
					{# Attributes: #}
					<i>{% if val == '' %}Removed{% else %}{{ val }}{% endif %}</i><br>
				{% endfor %}
			{% endif %}
		{% endfor %}
		</td>
		{# Have change.set value? #}
		{% for keySet,valSet in object.changes.set.items %}
			{% if keySet == attribute.lbeAttribute.name %}
				<td>
				<table class="{{keySet}}">
				{% for valS in valSet %}
					{% if attribute.attributeType == 0 %}
				<tr id="tr_{{keySet}}">
						<td>
						<input type="hidden" name="hidden_{{keySet}}" id="hidden_{{keySet}}" value="{{valS}}"/>
						<span id="{{keySet}}" {% if attribute.attributeType == 0 %}onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','{{keySet}}','{{valS}}',$(this).closest('tr').index());"{% endif %}>
					{% endif %}
					{% if valS == '' %}<i>Removed</i>{% else %}{{ valS }}{% endif %}
					<script>
						$("#{{keySet}}").toggleClass("{{keySet}}_"+v);
						$("#{{keySet}}").removeAttr("id");
						////////////////////////////////////////////////
						$("#hidden_{{keySet}}").toggleClass("hidden_{{keySet}}_"+v);
						$("#hidden_{{keySet}}").removeAttr("id");
						////////////////////////////////////////////////
						$("#tr_{{keySet}}").toggleClass("tr_{{keySet}}_"+v);
						$("#tr_{{keySet}}").removeAttr("id");
					</script>
					</span><script>v++;</script>
					{% if attribute.attributeType == 0 %}<i class="icon-pencil"></i></td><td><a href="#" onClick="remove('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','{{keySet}}',$(this).closest('tr').index());return false;"><i class='icon-trash'></i></a>{% endif %}</td>
				</tr>
				{% endfor %}
				</table>
				</td>
			{% endif %}
		{% endfor %}
		{# Add value [Multivalue] #}
		<td>
		{% if attribute.multivalue %}
			<a href="#" onClick="showModalBox('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}/add/','{{attribute.lbeAttribute.name}}');"><button class="btn">+</button></a>
		{% endif %}
		</td>
		</tr>
	{% endfor %}
	<div class="addAttribute"></div>
	
	{% comment %}
	<tr><td style="font-weight:bold;">Display Name : </td><td><span class="displayName">{{object.attributes.title.0}}. {{object.attributes.cn.0}}</span></td></tr>
	{# TODO: loop for multivalue #}
	<tr><td style="font-weight:bold;">Mail : </td><td><span class="mail" {% if object.changes.set.mail.0 %} style="color:blue" onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','mail','{{object.changes.set.mail.0}}');"> {{object.changes.set.mail.0}} {% else %}onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','mail','{{object.attributes.mail.0}}');"> {{object.attributes.mail.0}} {% endif %}</span><span class="delete_mail"><a href="#" class="icon-trash" onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','mail','');"></a></span></td></tr>
	<tr><td style="font-weight:bold;">Surname : </td><td><span class="sn" {% if object.changes.set.sn.0 %} style="color:blue" onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','sn','{{object.changes.set.sn.0}}');"> {{object.changes.set.sn.0}} {% else %}onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','sn','{{object.attributes.sn.0}}');"> {{object.attributes.sn.0}}{% endif %}</span><span class="delete_sn"><a href="#" class="icon-trash" onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','sn','');"></a></span></td></tr>
	<tr><td style="font-weight:bold;">Givenname : </td><td><span class="givenName"  {% if object.changes.set.givenName.0 %} onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','givenName','{{object.attributes.givenName.0}}');" style="color:blue"> {{object.changes.set.givenName.0}} {% else %}onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','givenName','{{object.attributes.givenName.0}}');"> {{object.attributes.givenName.0}} {% endif %}</span><span class="delete_givenName"><a href="#" class="icon-trash" onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','givenName','');"></a></span></td></tr>
	<tr><td style="font-weight:bold;">Login : </td><td><span class="uid" {% if object.changes.set.uid.0 %} onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','uid','{{object.changes.set.uid.0}}');" style="color:blue"> {{object.changes.set.uid.0}} {% else %}onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','uid','{{object.attributes.uid.0}}');"> {{object.attributes.uid.0}} {% endif %}</span><span class="delete_uid"><a href="#" class="icon-trash" onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','uid','');"></a></span></td></tr>
	<tr><td style="font-weight:bold;">Gender : </td><td><span class="title" {% if object.changes.set.title.0 %} onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','title','{{object.changes.set.title.0}}');" style="color:blue"> {{object.changes.set.title.0}} {% else %}onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','title','{{object.attributes.title.0}}');"> {{object.attributes.title.0}} {% endif %}</span><span class="delete_title"><a href="#" class="icon-trash" onClick="update('{% url 'directory.views.manageObjectInstance' obj_id=lbeObjectId uid=uid %}','title','');"></a></span></td></tr>
	{% endcomment %}
</table>

<script type="text/javascript" src="/static/js/common/crud.js"></script>
<script type="text/javascript" src="/static/js/common/showModalBox.js"></script>
{% endblock %}
