{% extends 'index.html' %}
{% load url from future %}
{% block content %}
    <h4>{{ object.displayName }}</h4>
    <table class='table'>
        {% for key,value in object.items %}
            {% if key != 'name' and key != 'displayName' %}
                <tr>
                    <th>{{ key }}</th>
                    <td>{% if value|length > 1 %}[ {% endif %} {% for val in value %}{{ val }} {% if value|length > 1 and not forloop.last %} , {% endif %}  {% endfor %} {% if value|length > 1 %} ]{% endif %} </td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% if object %}
        <center><a href="{% url 'directory.views.manageObjectInstance' lbeObject_id=obj_id objectName=object.name %}"
                   class="btn btn-primary">Modify</a></center>
    {% else %}
        Oups, Object not found !<br>
        <a href="/">Go home</a>
    {% endif %}
{% endblock %}
