{% extends "index.html" %}
{% load url from future %}
{% block content %}
<table class="table">
	<tr>
		<td style="width:20%">Choose the Object:</td><td><select onChange="window.location.href=(window.location.pathname.split('/')[0]+'/'+$('select option:selected').val())">{% for obj in lbeObjects %} <option value="{{obj.id}}" {% if obj.id == lbeObjectId %}selected="selected"{% endif %}>{{obj.displayName}}</option>  {% endfor %}</select></td>
		<td style="width:10%">Research:</td><td><input placeholder="Search" type="text" id="search" name="search" onKeyUp="search(event,$('select option:selected').val(),this.value)"/></td>
		</tr>
</table>

<table class='table'>
	<thead>
		<tr>
			<th>Name</th>
			<th style='text-align: center;'>Status</th>
			<th style='text-align: center;'>Actions</th>
		</tr>
    </thead>
    <tbody class="Tdata">
		{% for object in objects %}
		<tr>
			<td> <a href="{% url 'directory.views.viewObjectInstance' lbeObject_id=lbeObjectId objectName=object.name %}" >{{ object.displayName }} </a></td>
			<td style='text-align: center;'> {% include 'directory/default/status.html' %} </td>
			<td style='text-align: center;'>
				{% if object.status == 2 %}
				<a href="{% url 'directory.views.approvalObjectInstance' lbeObject_id=lbeObjectId objectName=object.name %}" title="Approval" class="icon-check"></a>
				{% endif %}
				<a href="{% url 'directory.views.manageObjectInstance' lbeObject_id=lbeObjectId objectName=object.name %}" title="Modify" class="icon-edit"></a>
				<a href="{% url 'directory.views.deleteObjectInstance' lbeObject_id=lbeObjectId objectName=object.name %}" title="Delete">
					<span class='label label-important'>x</span>
				</a>
			</td>
		 </tr>
		{% endfor %}
	</tbody>
</table>

<center>
<div class="pagination">
    <ul>
    {% for i in length %}
    <li {% if i == page %}class="disabled"{% endif %}><a href="{% if i == page %}#{% else %}{% url 'directory.views.index' page=i %}{% endif %}">{{i}}</a></li>
    {% endfor %}
    </ul>
</div>
</center>

<script type="text/javascript">
function search(e,object,pattern)
{
	if (e.which == 13) // Enter key value
		$.ajax({
		   type: "GET",
		   url: "/ajax/directory/search/" + object + "/" + pattern,
		   async:false,
		   success: function(data){
			    if (data == "/")
				   window.location.href=data;
			    else
			    {
					$('.Tdata').text('');
					$('.Tdata').html(data);
				}
			   }
		 });
}
</script>
{% endblock %}
