<!DOCTYPE html>
<html>
	<head>
		<title>LBE</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body onLoad='showRootDirectory()'>
	  {% include "directory/default/menu-top.html" %}
	  {% include "directory/default/menu-left.html" %}
	   <div class="content">
		  <div id="modifyMB"></div>
		  <div id="index">
		  </div>
		</div>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-alert.js"></script>
	
	<script type="text/javascript" src="/static/js/directory/directory.js"></script>
	<script type="text/javascript" src="/static/js/directory/object.js"></script>
	</body>
</html>

