	<div class="menu">
		   <div class="container-fluid">
			   <div class="row-fluid">
				    <div class="well sidebar-nav">
						 <ul class="nav nav-list">
							 <li class="nav-header">Menu</li>
							 <li><a href="/" >Directory</a></li>
							 {# Only for the '/' URI #}
							 {% if index %}
							 <li class="nav-header">Object</li>
							 {% for obj in objects %}
							 <li><a href="#" onClick="showObject({{obj.id}});">{{obj.displayName}}</a></li>
							 {% endfor %}
							 {% endif %}
						 </ul>
					</div>
			   </div>
		   </div>
	   </div>
