{% extends "index.html" %}
{% load url from future %}
{% block content %}
<table class="table">
    <thead>
        <th>Name</th>
        <th style='text-align: center;'>Status</th>
        {%  if user.is_staff %}<th>Actions</th>{% endif %}
    </thead>
    <tbody>
    <h3>Groups list</h3>
    {%  for group in groups %}
        <tr><td><a href="{% url 'directory.views.viewGroup' group_id=group.template.id %}">{{ group.name }}</a></td>
        <td style='text-align: center;'>{%  include 'directory/default/group/status.html' %}</td>
        {%  if user.is_staff %}<td><a href="{% url 'directory.views.manageGroup' group_id=group.template.id %}"><i class="icon-edit"></i></a> <a href="{% url 'directory.views.deleteGroup' group_id=group.template.id %}"><span class="label label-important">x</span></a></td>{% endif %}</tr>
    {%  empty %}
        <tr><td colspan="4"><i><center>No group found.</center></i></td></tr>
    {%  endfor %}
    </tbody>
</table>
{%  endblock %}