<!DOCTYPE html>
<html>
	<head>
		<title>LBE</title>
		<link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>
	  {% include "header.html" %}
      <div class="container-fluid">
          <div class='row-fluid'>
              <div class='span2'>
            	  {% include "menu.html" %}
              </div>
      <div class="span10">
	  {% if messages %}
        {% for message in messages %}
        <span {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</span>
        {% endfor %}
	  {% endif %}
          {% block content %}{% endblock %}
      </div>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-alert.js"></script>
	<script type="text/javascript" src="/static/js/directory/directory.js"></script>
	</body>
</html>

