<!DOCTYPE html>
<html>
	<head>
		<title>LBE</title>
		<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
		<link rel="stylesheet" type="text/css" href="/static/css/style.css" />
	</head>
	<body>
	  {% include "header.html" %}
	  {% include "menu.html" %}
      <div class="content">
	  {% if messages %}
	  <div class="alert alert-error fade in">
		<button class="close" data-dismiss="alert">×</button>
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        </div>
	  {% endif %}
          {% block content %}{% endblock %}
      </div>
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-dropdown.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-modal.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap-alert.js"></script>
	<script type="text/javascript" src="/static/js/directory/directory.js"></script>
	</body>
</html>

