	<div class="navbar">
			<div class="navbar-inner">
			  <div class="container">
				<a class="brand" href="#">LBE</a>
				<div class="nav-collapse">
					
				  <ul class="nav">
					<li><a href="/">Index</a></li>
					<li class="active"><a href="/admin/">Admin</a></li>
				  </ul>

<!--				  
				  <form class="navbar-search pull-left" action="/search/" method="get">
					<input class="search-query span2" placeholder="Recherche" type="text">
				  </form>
-->
				  
				  <ul class="nav pull-right">
					  {% if admin %} LDAP: {{ldapState|safe}} MONGO: {{mongoState|safe}} {% endif %}
					<a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
					  <i class="icon-user"></i> {{username}}
					  <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
					  <li><a href="#">Profile</a></li>
					  <li class="divider"></li>
					  <li><a href="/auth/logout/">Déconnexion</a></li>
					</ul>
				  </ul>
				  
				</div>
			  </div>
			</div>
	  </div>
