{% load url from future %}
<div class="menu">
    <div class="row-fluid">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li><a href="/">Home</a></li>
                <li class="nav-header">Object</li>
                <li><a href="/directory/object/add/1">Add employee</a></li>
                <li class="nav-header">Group</li>
                <li><a href="{%  url 'directory.views.viewAllGroup' %}">Groups</a></li>
            </ul>
        </div>
    </div>
</div>
