{% load url from future %}
<div class="menu">
    <div class="row-fluid">
        <div class="well sidebar-nav">
            <ul class="nav nav-list">
                <li><a href="/">Home</a></li>
                <li class="nav-header">Object</li>
                {% for object in objects %}
                    <li><a href="/directory/{{ object.id }}/1">{{ object.displayName }}</a></li>
                {% endfor %}
                <li class="nav-header">Group</li>
                {% for group in groups %}
                    <li><a href="/directory/group/view/{{ group.id }}">{{ group.displayName }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
