{# Include the hidden fields #}
{% for hidden in groupForm.hidden_fields %}
    {{ hidden }}
{% endfor %}
{# Include the visible fields #}
<table class='table table-condensed'>
    {% for field in groupForm.visible_fields %}
        <tr>
            <th> {{ field.label }} </th>
            <td>
            {%  if field.name == 'objectTemplate' and info_change_object %}
                <a class="btn" href="#" data-placement="left" data-content="{{ info_change_object }}" data-html="true"
                   title="Info" onMouseOver="$(this).popover('show')" onMouseOut="$(this).popover('hide')">?</a>
                {{ field }}
            {% elif field.name == 'synced_at' %}
                <input type="text" id="id_{{ field.name }}" name="{{ field.name }}" value="{{ field.value }}" disabled/>
            {% elif field.name == 'reconciliation_object_missing_policy' %}
                <a class="btn" href="#" data-placement="left" data-content="{{ info_missing_policy }}" data-html="true"
                   title="Info" onMouseOver="$(this).popover('show')" onMouseOut="$(this).popover('hide')">?</a>
                {{ field }}
            {% elif field.name == 'reconciliation_object_different_policy' %}
                <a class="btn" href="#" data-placement="left" data-content="{{ info_different_policy }}"
                   data-html="true" title="Info" onMouseOver="$(this).popover('show')"
                   onMouseOut="$(this).popover('hide')">?</a>
                {{ field }}
            {% else %}
                {{ field }}
            {% endif %}
                {% for error in field.errors %}
                    <div><span class='label label-important'>{{ error }}</span></div> {% endfor %}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan=2 style='text-align: center;'><input type='submit' name='Submit' class='btn'></td>
    </tr>
</table>
