{# Include the hidden fields #}
{% for hidden in attributeForm.hidden_fields %}
{{ hidden }}
{% endfor %}
{# Include the visible fields #}
<table class='table table-condensed'>
{% for field in attributeForm.visible_fields %}
    <tr>
        <th> {{ field.label }} </th>
        <td> {{ field }}
            {% for error in field.errors %} <div><span class='label label-important'>{{ error }}</span></div> {% endfor %}
        </td>
    </tr>
    {% endfor %}
    <tr>
        <td colspan=2 style='text-align: center;'><input type='submit' name='Submit' class='btn'></td>
    </tr>
</table>
